*{
  margin:0;
  padding:0;
  font-family: 'poppins', sans-sefif;
  box-sizing: border-box;
}
.video-player{
  background: #ffe0e5;
  width: 100%;
  padding: 25px 35px;
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav.circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px rbga(255, 26, 26 ,0.22);
}
.video-player h1{
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}
.video-player p{
  font-size:14px;
  color: #333;
}
