*{
  margin:0;
  padding:0;
  font-family: 'poppins', sans-sefif;
  boxing-sizing: border-box;
}
.content{
    flex-direction: column;
    align-items: left;
    padding: 6vw;
    padding-top: 0vw;
    display: flex;
}
.container{
  width:100%;
  height:100%;
  background: #333;
  display: flex;
  align-items: center;  
}
.content hr{
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    margin: 1vw 0;
}
.video-player{
  background: #ffe0e5;
  width: 100%;
  padding: 25px 35px;
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav.circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px rbga(255, 26, 26 ,0.22);
}
.video-player h1{
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

#games img:hover{
    transform: scale(1.01);
}
.search {
    display: flex;
    user-select: none;
    margin-top: 2.5vw;
    margin-left: 60vw;
}

.search input {
    background-color: #222222;
    border: none;
    border-radius: 1vw 0 0 1vw;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.8vw 1.5vw;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    outline: none;
}

.search input::placeholder {
    color: #fff;
    font-weight: 600;
    font-size: 1.5vw;
}

.search button {
    background-color: #fff;
    border: none;
    border-radius: 0 1vw 1vw 0;
    color:#222222;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1.5vw 1vw;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    transition: .3s all ease;
}
.video-player p{
  font-size:14px;
  color: #333;
}
